---
layout: default
---
<div id="content">
	<div id="posts">
	{% for post in site.posts %}
		{% if post.layout != "static" and post.layout != "support" %}
		<div class="post">
			<h2 id="posttitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<div id="postmeta">Posted on {{ post.date | date: "%Y %b %d" }} - <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comment</a></div>
			{{ post.content | truncatewords: 200 }}
			<br>
			<br>
			<strong><a href="{{ post.url }}">Read more...</a></strong>
			
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>

