<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/styles/default.css">
		<link rel="stylesheet" type="text/css" href="/styles/pygments.css">

		<title>pixelfolders</title>
	</head>
	<body>
		<nav>
			<a href="/">blog</a> |
			<a href="/page/WebGL.html">webgl</a> |
			<a href="/page/about.html">about</a>
		</nav>
		{{ content }}
	</body>
</html>