<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/styles/default.css">
		<link rel="stylesheet" type="text/css" href="/styles/pygments.css">

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-34410144-1']);
		  _gaq.push(['_setDomainName', 'pixelfolders.se']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<title>pixelfolders - {{ page.title }}</title>
	</head>
	<body>
		<header> pixelfolders - <a href="/">blog</a> -
			<a href="/history/">stuff we made</a> -
			<a href="/about/">who we are</a>
		</header>

		<article>
			<h2 id="posttitle">{{ page.title }}</h2>
			<div id="content">{{ content }}</div>
		</article>

	</body>
</html>