html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color:#444;
	font-family: 'PT Sans', 'Ubuntu Mono', sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	background: #fefefe;
	padding: 0em;
	margin: 0em;
	text-align: justify;
	/*outline: 1300px solid #FAFAFA;*/
}

article {
	max-width: 1024px;
}

a{ color: #1a4f9c; text-decoration:none; }

a:visited{ color: #1a4f9c; }

a:hover{ color: #06e; cursor: pointer; }

a:active{ color:#faa700; }

a:focus{ outline: thin dotted; }

a:hover, a:active{ outline: 0; }


span.backtick {
	border:1px solid #EAEAEA;
	border-radius:3px;
	background:#F8F8F8;
	padding:0px 3px 0px 3px;
}

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}
a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}



p {
	margin:1em 0;
}

img{
	max-width:100%;
}



h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	color:#111;
	line-height:1em;
}

h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em;}
h3{ font-size:1.5em; }
h4{ font-size:1.2em; margin-bottom: 0em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{
	color:#666666;
	margin:0;
	padding-left: 3em;
	border-left: 0.5em #EEE solid;
}

hr { display: block; height: 3px; background-color: #aaa; border: 0; margin: 3em 0; padding: 0; }

pre , code, kbd, samp { 
	color: #000; 
	font-family: monospace; 
	font-size: 0.88em; 
	border-radius:3px;
	background-color: #F8F8F8;
	border: 1px solid #CCC; 
}

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px;}

pre code { border: 0px !important; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }

li p:last-child { margin:0 }

dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

@media only screen and (min-width: 480px) {

	body{font-size:14px;}

}

@media only screen and (min-width: 768px) {

	body{font-size:16px;}

}

ul div.collapse li {
	list-style: none;
}

#toc {
	border: 1px solid #aaa;
	font-size: 0.8em;
}

header {
	color: #edeef1;
	background-color: #2b3439;
	padding: 0.8em 8em 0.8em 8em;
	text-shadow: 0px 1px 1px #000;
}

figure a, figure a:visited, header a, header a:visited {
	color: #ced8e2;
}

figure a:active, figure a:hover, header a:active, header a:hover {
	color: #edeef1;
}

#blog header {
	font-size: 1.2rem;
	padding: 4rem 8rem 1rem 8rem;
}

article {
	color:#444;
	background: #fefefe;
	padding: 2em 8em 3em 8em;
	margin: 0em;
}

.post {
	margin: 0 0 4em 0;
}

#posttitle {
	margin: 0.2em 0em;
}

.subtitle {
	margin: 0.2em 0em;
}

#postmeta {
	color: #a3a6b7;
	font-size: 0.8em;
	margin-top: 0.8em;
}

.floater {
	float: right;
	clear: both;
	margin: 2em;
}

figure {
	float: right;
	clear: both;
	position: relative;
	background-color: #2b3439;
	color: #edeef1;
	padding: 0.4em;
	margin: 2em;
	border-radius: 4px;
	text-shadow: 0px 1px 1px #000;
	width: auto;
	max-width: 400px;
	height: auto;
	overflow: visible;
}

.full {
	float: none;
	width: 100%    !important;
	height: auto   !important;
	max-width: 100%;
	margin: 1em 0px;
}

figure.full img {
	width: 100%;
}

figcaption {
	background-color: rgba(43, 53, 57, 0.9); 
	text-align: center;
	font-size: 0.8em;
	padding: 1em 0;
	position:absolute; bottom: 0; left:0; width:100%;
	border-radius: 0px 0px 4px 4px;
}

figure img {
	
}

.video_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	clear: both;
	margin: 1em 0px;
}
.video_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



